/* Header */
header {
    @include flex(center,space-around, stretch, 0)
    padding: 2rem 0;

    .header__img {
        max-width: 120px;
    }

    nav .menu {
        @include flex(stretch,flex-start, stretch, 0)
        gap: $small;

        .menu__link {
            font-size: 2em;
            &:hover{
                border-bottom: 5px solid #2980b9;
        }
    }
    }
}
    



