/* cuerpo */

.cards {
    @include flex(row, center, stretch, map-get($spacings, $xsmall))
    flex-wrap: wrap;

    .box {
        @include flex(column,flex-start, stretch, map-get($spacings, $xsmall))
        flex: 1 1 clamp(300px, 30%, 400px);
        padding: 15px;

        &__titulo {
            color: $primary-title;
            font-size: $text-medium;
        }

        &__subtitulo {
            color: $secondary-subtitle;
            font-size: $text-base;
        }

        &__text {
            color: $text-color;
            font-size: $text-small;
        }

        &__img {
            transition: transform .6s;

            &:hover {
                transform: scale(1.1);
            
            }
        }
    }

}

/* segundo cuerpo */

.info {
    @include flex(row, center, stretch, 0)
    margin-top: 5%;
    flex-wrap: wrap;
    padding: 15px;

    &__img {
        flex: 1 1 50%;
        transform: skewX(10deg);
    }

    &__titulo {
        font-size: $text-medium;
        color: $primary-title;
        margin: 2%;
    }

    &__text {
        color: $text-color;
        font-size: $text-small;
        font-weight: 300;
        margin: 2%; 
    }

    &__box {
        @include flex(column, stretch, stretch, 0)
        flex: 1 1 clamp(580px, 50%, 740px);
    }

    &__img1 {
        flex: 1 1 50%;
        transition: transform .6s;

        &:hover {
            transform: rotate(10deg);
        
        }
    }

    .box1 {
        @include flex(column, stretch, stretch, $medium)
        flex: 1 1 clamp(580px, 50%, 740px);
    }
   
}






