@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1.8rem;
    }
    .menu .menu__link {
        font-size: 20px; 
    } 
    .form-registro {
        margin-top: 0;
    }
    .box__titulo {
        color: goldenrod;
        font-size: 2em;
    }
    .box__subtitulo {
        color: rgb(212, 156, 250);
        font-size: 0.8em;
    }
    .box__text {
        color: black;
        font-size: 1em;
    }
    .info__titulo {
        font-size: 2em;
        color: black;
    }
    .info__text {
        color: black;
        font-size: 1em;
        
    }
}
