/* Color */

$primary-title: goldenrod;
$secondary-subtitle: rgb(212, 156, 250);
$text-color: black;

/* Espacios */

$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1.5rem;
$xxsmall: 1rem;

/* font-family */

$font-principal: 'macondo';

/* font-sizes */

$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;
$text-xlarge: 2em;
$text-xmedium: 1.5em;
$text-xbase: 1.2em;
$text-xsmall: 1em;
